* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-form-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto
}

#add-project-btn, #add-to-do-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
  height: 50px;
  width: 100px;
  border: 2px solid black;
  border-radius: 10px;
}

#add-project-form, #add-to-do-form {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 350px;
  height: 500px;
  border: 1px solid black;
}

.form-styling {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 10px;
}

.form-input {
  margin-bottom: 20px;
}

#projects-section {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#projects-section > h2 {
  text-align: center;
  margin: 20px auto;
}

#projects-container {
  width: 100%;
  margin: 0 auto;
}

.project-item {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr repeat(2, 1fr);
  border: 2px solid black;
}

.project-h3-text {
  width: 100%;
  grid-column: 1 / 2;
}

.project-item > button, .project-to-do > button {
  height: 40px;
  width: 40px;
  margin-left: auto;
  border: 2px solid black;
  border-radius: 100px;
}

.delete-project-btn {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.expand-project-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.project-to-do-list {
  width: 100%;
  grid-column: 1 / 4;
  padding: 10px;
  border: 2px solid black;
  margin: 10px auto;
}

.project-to-do {
  display: grid;
  grid-template-columns: 4fr repeat(2, 1fr);
  list-style: none;
  margin: 0 10px;
}

.expand-to-do-btn {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.delete-to-do-btn {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.inner-list-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5px 0;
}

.inner-list-item-label {
  grid-column: 1 / 2;
}

.inner-list-item-p {
  grid-column: 2 / 3;
}

.project-to-do > button {
  margin-left: auto;
}

.hide {
  display: none;
}
